<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
    <link href="css/zocial.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
<div>
    <span class='title'>重補修調查</span>
    <span><button class="zocial gmail icon" style="font-size:small" onclick="hello('google').login()">Sign in with Gmail</button><button style="font-size:small" onclick="hello('google').logout()">Logout</button></span>
    <span id="profile_google"></span>
</div>

<div class="sub-title">105學年度第一梯次</div>

<table>
    <tr>
        <td>

            <form id='Form1' method='post' target='_self'
                  action='https://docs.google.com/forms/d/1__YDsukZmd3lzGoNNl4_4aGPZFdDPPHGYDM-n4LSKQk/formResponse'>

                <div class='label'>班級</div>
                <div class='input-div'>
                    <input type='text' id='class' placeholder='您的回答'>
                    <div class='underline'></div>
                </div>

                <div class='label'>座號</div>
                <div class='input-div'>
                    <input type='text' id='seatNo' placeholder='您的回答'>
                    <div class='underline'></div>
                </div>

                <div class='label'>姓名</div>
                <div class='input-div'>
                    <input type='text' id='stuName' placeholder='您的回答'>
                    <div class='underline'></div>
                </div>

                <input type='hidden' id='UID'>
                <input type='hidden' id='subjs'>

                <div class="input-div">
                    <input type='submit' id='submit' value='提交'>
                </div>
            </form>

        </td>
        <td style="width:50px"></td>
        <td>

            <div class='label'>請選擇你要重補修的科目後按「提交」</div>
            <div class='underline' style="width:340px"></div>
            <div class='input-div' id='chkdiv'></div>

        </td>
    </tr>
</table>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://www.google.com/jsapi"></script>
<script src="js/hello.min.js"></script>
<script src="js/client_ids.js"></script>
<script src="js/jquery-plugin.js"></script>
<script src="js/main.js"></script>
</body>

</html>
