td.chk-subj {
  width:29px;
}

tr.tr-subj {
  height:27px;
}

div.checkbox {
  font-size:large;
  color:rgba(255,255,255,0.8);
}

input[type='checkbox'] {
  width:18px;
  height:18px;
}

.checkbox, .radio {
  margin-top:4px;
  margin-bottom:4px;
}

div.subj-list {
  overflow:auto;
  height:315px;
  background-color:rgba(0,0,0,0.05);
}

i.glyphicon.glyphicon-knight {
  color:#ff1607;
}

.footer-dark {
  padding:20px 0 20px;
  color:#f0f9ff;
  background-color:#282d32;
}

#ct {
  margin-top:100px;
}

#user-profile {
  color:#d9d9d9;
}

#submit {
  margin-top:40px;
  text-align:center;
}

