<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>彰化高商105年特色招生成績查詢</title>
</head>

<body bgcolor="#707070">
<div align="center">
	<table border="0" width="750" cellspacing="0" cellpadding="0" height="550" background="103特色招生.jpg">
		<tr>
			<td height="154">
			<p align="center">
			</td>
			<td height="154" width="232">
			　</td>
		</tr>
		<tr>
			<td valign="top">
<div align="center">
				<p>請輸入你的個人資料...</p>
				<form method="POST" name="showdata.asp">
				<table border="1" width="75%" height="154">
					<tr>
						<td width="35%" height="60" align="center">
						<font color="#800000">准考證號 ＊</font></td>
						<td height="60" align="center" width="61%"><input type="text" name="T1" size="20"></td>
					</tr>
					<tr>
						<td width="35%" height="60" align="center">
						<font color="#800000">身份證字號 ＊</font></td>
						<td height="60" align="center" width="61%">
						<input type="text" name="T2" size="20"></td>
					</tr>
					<tr>
						<td height="60" align="center" colspan="2">
						<input type="submit" value="送出查詢" name="B1"><input type="reset" value="重新輸入" name="B2"></td>
					</tr>
				</table>
				</form>
				<p><font size="2" color="#FF0000">＊ 為必要填寫。</font></p>
			</div>			
			<td width="232">
			　</td>
		</tr>
	</table>
</div>
<p align="center">&nbsp;<font color="#808080" size="2">國立彰化高商103年度特色招生甄選委員會</font></p>
</body>        
</html>