<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>彰化高商103年特色招生成績查詢</title>
</head>

<body bgcolor="#707070">
<div align="center">
	<table border="0" width="750" cellspacing="0" cellpadding="0" height="550" background="103特色招生.jpg">
		<tr>
			<td height="154">
			<p align="center">
			</td>
			<td height="154" width="232">
			　</td>
		</tr>
		<tr>
			<td valign="top">
<div align="center">
				<p>資料查詢結果...</p>
				<form method="POST" name="showdata.asp">
				<table border="1" width="80%" height="237">
					<tr>
						<td width="147" height="30" align="center">
						<font color="#800000">准考證號</font></td>
						<td height="30" align="center">10325008</td>
					</tr>
					<tr>
						<td width="147" height="30" align="center">
						<font color="#800000">姓名</font></td>
						<td height="30" align="center">
						李小魚</td>
					</tr>
					<tr>
						<td width="147" height="30" align="center">
						<font color="#800000">報考職類</font></td>
						<td height="30" align="center">
						外語商貿人才組</td>
					</tr>
					<tr>
						<td width="147" height="30" align="center">
						<font color="#800000">成績</font></td>
						<td height="30" align="center">
						85.6</td>
					</tr>
					<tr>
						<td width="147" height="30" align="center">
						<font color="#800000">錄取結果</font></td>
						<td height="30" align="center">
						正取第 25 名</td>
					</tr>
					<tr>
						<td width="147" height="71" align="center">
						<font color="#800000">備註</font></td>
						<td height="71" align="center">
						<font size="2">恭喜你加入彰商大家庭！<br>
						別忘了6/xx前要帶著國中畢業證書<br>
						到本校教務處來報到喔！</font></td>
					</tr>
					</table>
				</form>
				<p><font size="2" color="#FF0000">＊ 本資料僅供參供，成績以寄發之成績單為準。</font></p>
			</div>
			<td width="232">
			　</td>
		</tr>
	</table>
</div>
<p align="center">&nbsp;<font color="#CCCCCC" size="2">國立彰化高商103年度特色招生甄選委員會</font></p>
</body>        
</html>